body {
  padding-top: 70px;
  font-family: 'Roboto', sans-serif;

  background-color: lighten(black, 80);
}

pre {
  padding: 0;
}

form {
  padding: 10px;
  margin-bottom: 20px;
  button {
    margin-top: 10px;
  }
}
