<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Web View <span class="small">By Grant Tepper</span></a>
        </div>
    </div>
</nav>
